{
    "driver_config": {
        "ip_address": "127.0.0.1",
        "access_token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiIxN2UxMjAwOGRlYTE0YTc5OGMwNjM3M2NkZDZlZWQ4OCIsImlhdCI6MTc3NTYwMTMwNywiZXhwIjoyMDkwOTYxMzA3fQ.dw1MMVUHoctDHSE0KUvZ9-vkVCZrNPlwEHyIT-ZdB-M",
        "port": "8123"
    },
    "driver_type": "home_assistant",
    "registry_config": "config://test_fan.json",
    "interval": 30,
    "timezone": "UTC"
}